html{background: url('back.jpg') fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
  }
  body {
    font-family:courier, courier new, serif;
    -ms-content-zooming: none;  
  }
  header {
    
    height: 5%;
    width: 95%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    .left_header{
      display: flex;
      flex-direction: row;
      width: 80%;
      .motor {
        z-index: 10;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 3%;
        height: 45%;
        width: 45px;

        transition: all 1s;
      }
      
      .sites {
        z-index: 10;
        font-size: 32px;
        letter-spacing: 2px;
        transition: all 1s;
      }
      
      ul {
        display: flex;
        align-items: center;
    
        li {
          margin-left: 10%;
          
    
          a {
            margin-right: 98%;
            color: #fff;
            text-decoration: none;
    
            &:hover {
              font-weight: 800;
              color: #efeadf;
            }
          }
        }
      }

    }
    
    .buttons{
      z-index: 10;
      display: flex;
      flex-direction: row;
      width: 20%;
      margin-top: auto;
      margin-bottom: auto;
      .buttonsignin {
        font-family:courier, courier new, serif;
        height: 60%;
        padding: 8px 5px;
        background-color: transparent; 
        color: #fff; 
        border: 2px solid #FFA500; 
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 20px; 
        font-weight: 600;
        &:hover {
          font-weight: 700;
          background-color: #ffffff33;
          color: #fff;
          border-color: #fff;
          cursor: pointer;
          transition: all 0.15s ease-in-out;
        }
        a{
         text-decoration: none;
         color: #fff;
       }
      }
      .buttonsignup {
        font-family:courier, courier new, serif;
        height: 60%;
        padding: 8px 5px;
        margin-left: 20px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: transparent; 
        color: #fff; 
        border: 2px solid #FFA500; 
        font-size: 20px; 
        font-weight: 600;
        &:hover {
          font-weight: 700;
          background-color: #ffffff33;
          color: #fff;
          border-color: #fff;
          cursor: pointer;
          transition: all 0.15s ease-in-out;
        } 
        a{
         text-decoration: none;
         color: #fff;
       }
      }
    }        
  }
  
  .placebutton
  {
    
    display: flex;
    justify-content: end;
  }

.slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border: none;
 }
 
 .middle {
    position: absolute;
    top: 0%;
 }
 
 .navigation {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 10;
 }
 
 .bar {
    width: 30px;
    height: 8px;
    margin: 6px;
    cursor: pointer;
    background-color: #ffffff;
    opacity: .5;
    border-radius: 10px;
    transition: all 0.4s ease;

 }
 
 .bar:hover {
    opacity: 1;
    transform:scale(1.1);
 }
 
 input[name="r"] {
    position: absolute;
    visibility: hidden;
 }
 
 .slides {
    width: 400%;
    height: 100%;
    display: flex;
 }
 
 .slide {
    display: flex;
    justify-content: center;
    
    width: 25%;
    transition: all 0.6s ease;
 }
 
 .img {
    height: 100%;
    width: auto; 
 }

 .category
 {
    width: 160px;
    position: absolute;
    z-index: 10;
    margin-left: 20px;
    color: #ffffff;
    margin-top: 10px;
    label{
        margin-top: -15px;
        cursor: pointer;
        transition: all 0.4s ease;
        
    }
    h1{
        font-weight: 100;
    }
 }

 #r1:checked ~ .s1 {
    margin-left: 0;
    z-index: 1;
 }
 #r1:checked ~ .s2 {
    z-index: 0;
 }
 #r1:checked ~ .s2 {
    z-index: 0;
 }

 #r2:checked ~ .s1 {
    margin-left: -25%; 
    z-index: 0;
 }
 #r2:checked ~ .s2 {
    z-index: 1;
 }
 #r2:checked ~ .s3 {
    z-index: 0;
 }
 
 #r3:checked ~ .s1 {
    margin-left: -50%;
 }
 #r3:checked ~ .s2 {
    z-index: 0;
 }
 #r3:checked ~ .s3 {
    z-index: 1;
 }
 #r3:checked ~ .s4 {
    z-index: 0;
 }
 
 #r4:checked ~ .s1 {
    margin-left: -75%;
 }
 #r4:checked ~ .s3 {
    z-index: 0;
 }
 #r4:checked ~ .s4 {
    z-index: 1;
 }
 a{
    text-decoration: none;
 }
 .conteinercars
 {
    margin-top: 430px;
    .carline{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .alreadycar{ 
            flex-direction: column;
            width: 450px;
            height: 150px;
            background-color: #ffffff6d;
            border: 2px solid #ffffff8f;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            .rentcarimage{
                display: flex;
                justify-content: center;
                height: 50%;
                font-family:courier, courier new, serif;

                img{
                    margin-top: -65px;
                    transform: scale(2.0);
                }   
            }
            .textrent
            {
                font-size: 25px;
                margin-top: -20px;
                text-align: center;
                color: #ffffff;
 
            }
            .textrentprice
            {
                font-size: 25px;
                margin-top: -30px;
                text-align: end;
                margin-right: 10px;
                color: #ffffff;
            }


         }
    }

 }
 @media only screen and (max-width: 650px) {
    header {
        display: flex;
        flex-direction: column;
        .left_header{
          
          .motor{
            transition: all 1s;
            transform: scale(0.6);
          }
          .sites {
            margin-left: -8%;
            transition: all 1s;
          }
        }
        .buttons{
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: end;
          .buttonsignin {
            background-color: rgba(0, 0, 0, 0.7);
            margin-left: 90%;
  
            width: 15%;
          }
          .buttonsignup {
  
            margin-left: 90%;
            background-color: rgba(0, 0, 0, 0.7); 
  
            margin-top: 2%;
            width: 15%;
          }
        } 
  
      }
    .category
    {
        margin-top: -135px;
    }
    .conteinercars
    {
        display: flex;
        justify-content: center;
        margin-top: 160px; 
        .carline{
            display: flex;
            flex-direction: column;
            .alreadycar{
                margin-top: 130px;
            }
        }
    }
 }
 @media only screen and (max-width: 950px) and (min-width: 650px) {
    .conteinercars
    { 
        display: flex;
        justify-content: center;
        margin-top: 300px; 
        .carline{
            display: flex;
            flex-direction: column;
            .alreadycar{
                margin-top: 130px;
            }
        }
    }
 }

 
 
 